 <footer>
    <div>
        <a class="act_supp" href="{{ path('mentions_legales.index') }}">Mentions légales</a>
        <a class="act_supp" href="{{ path('faq.index') }}">FAQ</a>
        <a class="act_supp" href="mailto:antoinefactory@gmail.com">Me contacter</a>
    </div>
    <div>|</div>
    <div>
        Antoine Factory<br>
        Copyright © 2024 Tous droits réservés
    </div>
</footer>